# If you modify this execute `zimfw uninstall & zimfw install`

# Modules
zmodule environment
zmodule git
zmodule input
zmodule utility
zmodule https://github.com/agkozak/zsh-z

# Prompt
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info
# A heavily reduced, ASCII-only version of the Spaceship and Starship prompts.
zmodule asciiship

# Completion
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Modules that must be initialized last
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions